/********************/
/**** Admin CSS  ****/ 
/********************/

/* OPTIONS */
/* hide the default desc */
#redux-main .showDefaults {
	display: none;
}

/* META BOXES */
#ac_sidebar .sidebar_layout .rwmb-image-select {
	width: 53px;
	height: 44px;
	padding: 0;
}

/* hide page title for posts */
.post-type-post .ac-page-title {
	display: none;
}

/* REDUX OVERRIDES */
.ui-state-highlight { height: 2.5em; line-height: 2.2em; }
#redux-heading{ 
	margin-bottom:20px;
}
.redux-group-tab .form-table tr th {
	padding-right: 20px !important;
}
.redux-container .field-desc {
	font-weight: normal;
}

#redux-footer {
	right: 0;
}

/* override wp-engine icon large */
#redux-group-menu .icon-large {
	background-image: none !important;
}

/* Theme Activation */
.ac-setup-options {
	margin: 40px 0 40px 0;
}

.ac-setup-option {
	float: left;
	padding: 15px;
	border: 1px solid #ccc;
	margin-right: 10px;
	margin-bottom: 20px;
	max-width: 300px;
	text-align: center;
}

.ac-setup-option p {
	padding: 0 10px 10px 10px;
}

.ac-setup-option:last-child {
	margin-right: 0px;
}

.online-documenation {
	float: left;
	margin: 37px 80px 0;
}
.online-documenation a {
	text-decoration: none;
}

.dd-plugin-check {
	width: 100%;
	margin-bottom: 20px;
}

.dd-plugin-check td {
	width: 50%;
	padding: inherit !important;
}

.dd-plugin-check td:nth-child(1) {
	text-align: right;
}

.dd-plugin-check td:nth-child(2) {
	text-align: left;
}

.dd-plugin-check .installed {
	color: green;
}

.dd-plugin-check .not-installed,
.demo-data-file-missing {
	color: red;
}

.demo-data-missing-files p {
	margin: 0.3em;
}

/* Featured image on admin lists */
.column-thumbnail {
	/* Image size set by WP thumbnail setting */
	width: 120px; 
}
.column-thumbnail img.attachment-thumbnail {
	/* Never excede 100px */
	max-height: 100px; 
	max-width: 100px; 
}

.ac-multi-line-button {
	white-space: inherit !important; 
	line-height: 150% !important;
	height: auto !important;
}

/* REV SLIDER */
/* hide update nag */
.rs-update-notice-wrap {
	display: none;
}