/***********************************/
/**** Alleycat VC admin styles  ****/ 
/***********************************/

/*

Contents
========

1.  General
2.  Backend editor
3.  Editor modal
*/

/* 1.  General 
========================================================== */
a:active {
	outline: none;
}

/* 2.  Backend editor
========================================================== */
.vc_navbar.subnav-fixed {
	z-index: 98;
	background-color: #222;
}

.folded .subnav-fixed .vc_navbar-inner {
	padding: 0 20px 0 59px;
}

.vc_navbar.subnav-fixed .vc_navbar-inner {
	padding: 0 20px 0 183px ;
}


/* Items to remove */

.vc_navbar-inner ul.vc_nav:nth-child(1) {
	display: none;
} /* VC logo */


#wpb-add-new-row {
	display: none;
} /* new row button */

/* VC Search box styling */
#vc_elements_name_filter {
	background-color: #333;
	border-color: #424242;
	border-radius: 4px;
	padding: 6px 12px 6px 30px;
	line-height: 140%;
	color: #fff;
	margin: 0 5px 10px 5px;
}

.empty_container {
	background: none;
} /* Empty container bg */



/* VC Buttons */

.vc_navbar li a.button {
	background-color: #333;
	-webkit-box-shadow: none;
	border: none;
	color: #fff;
}

.vc_navbar li a.button:hover {
	background-color: #353535;
	color: #fff;
}

.vc_navbar li.vc_dropdown .caret {
	border-top: 4px solid #fff !important;
	display: inline-block !important;
	margin-top: 13px !important;
}

.wpb_column_container {
	padding: 0 4px 4px 4px;
}

.wpb_content_element > .wpb_element_wrapper {
	background-size: 32px;
}

.wpb_vc_separator > .wpb_element_wrapper, 
.wpb_vc_text_separator > .wpb_element_wrapper {
	background-size: auto;
}



/* Add Content */

div.wpb-elements-list {
	max-height: 600px;
}

.wpb_bootstrap_modals .wpb-elements-list-modal.modal {
	background-color: #222;
}

.wpb_bootstrap_modals .wpb-elements-list-modal.modal .modal-header .close {
	margin-top: 10px;
	color: #fff;
}

ul.isotope-filter {
	margin: 10px 0 20px 0 !important;
	color: #fff;
}

.wpb-content-layouts-container .isotope-filter li.active a {
	color: #fff;
}

.wpb-content-layouts a {
	padding: 0 15px 0 60px;
}

/* V2 - marry the back and front end compser UI styles */
body:not(.vc-editor) .wpb-elements-list-modal .wpb-content-layouts li {
	background: #333 !important;
	border: none;
	border-radius: 4px;
	margin: 0 0 4px 4px;
}

.wpb-content-layouts li:hover {
	background: #252525;
	transition: .2s ease-in-out	 ;
}

.wpb-content-layouts a i.vc-element-description {
	color: #d9d9d9;
}

.modal-header .close {
	margin-top: 0;
	right: 10px;
	border-radius: 50%;
	border: none;
	width: 30px;
	height: 30px;
	background: none;
	font-size: 20px;
	z-index: 1;
}

.wpb-content-layouts li {
 	min-width: 205px;
	height: 65px;
}

.wpb-content-layouts i.vc-element-icon {
	top: 20px;
	left: 14px;
}



/* Style fixes */

.wpb_vc_tour .ui-tabs .ui-tabs-panel {
	background: #fff !important;
	border: 1px solid #dfdfdf !important;
}

.wpb_content_element .wpb_tabs_holder > .wpb_vc_tab{
	background: #fff !important;
	border: 1px solid #dfdfdf !important;
}

.wpb_vc_tour > .wpb_element_wrapper .ui-tabs .ui-tabs-nav {
	left: 1px;
	z-index: 2;
	padding: 0;
}

.wpb_content_element h4.wpb_element_title {
	margin-top: 8px !important;
}

.wpb_vc_single_image .attachment-thumbnail {
	margin: -28px -49px;
}


/* VC Controls 
-------------------------------------------- */

/* UI Preview */
.wpb_content_element > .wpb_element_wrapper {
	height: auto;
}

.wpb_vc_param_value h1 {
	font-size: 1em;
	font-weight: normal;
}

.wpb_content_element:hover > div.controls {
	opacity: 1;
	text-align: center;
	width: 100%;
	left: 0;
}

/* Content Thumbnails */
/* Override icons */

.wpb_bootstrap_modals #ac_image i {
	background-position: 0 -672px;
}
.wpb_bootstrap_modals #ac_text_block i {
	background-position: 0 -256px;
}
.wpb_bootstrap_modals #ac_block_slider i {
	background-position: 0 -1152px;
}
.wpb_bootstrap_modals #ac_featured_post i {
	background-position: 0 -1184px;
}
.wpb_bootstrap_modals #ac_posts i {
	background-position: 0 -352px;
}
.wpb_bootstrap_modals #ac_portfolio i {
	background-position: 0 -1313px;
}
.wpb_bootstrap_modals #ac_testimonial i {
	background-position: 0 -1281px;
}
.wpb_bootstrap_modals #ac_person i {
	background-position: 0 -1249px;
}
.wpb_bootstrap_modals #ac_vc_button i {
	background-position: 0 -448px;
}
.wpb_bootstrap_modals #ac_galleries i {
	background-position: 0 -32px;
}
.wpb_bootstrap_modals #ac_gallery i {
	background-position: 0 -1088px;
}
.wpb_bootstrap_modals #ac_product i {
	background-position: 0 -1347px;
}
.wpb_bootstrap_modals #ac_block_quote i {
	background-position: 0 -1216px;
}

.wpb_bootstrap_modals .vc-element-icon {
	background-image: url(../ac-page-builder/images/elements_icons/sprite.png);
	background-size: 100%;
	}
.wpb_vc_facebook .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/facebook.png);
	}
.wpb_vc_pinterest .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/pinterest.png);
	}
.wpb_vc_tweetmeme .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/tweetmeme.png);
	}
.wpb_vc_googleplus .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/google_plus.png);
	}
.wpb_vc_wp_widget .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/wordpress.png);
	}
.wpb_vc_gallery .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/gallery.png);
	}
.wpb_vc_images_carousel .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/image_carousele.png);
	}
.wpb_vc_carousel .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/carousel.png);
	}
.wpb_vc_posts_slider .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/slideshow.png);
	}
.wpb_vc_teaser_grid .wpb_element_wrapper, .wpb_vc_posts_grid .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/teaser_grid.png);
	}
.wpb_vc_widget_sidebar .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/layout_sidebar.png);
	}
.wpb_vc_cta_button .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/cta_align_right.png);
	}
.wpb_vc_video .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/video.png);
	}
.wpb_vc_gmaps .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/map.png);
	}
.wpb_vc_raw_html .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/html.png);
	}
.wpb_vc_raw_js .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/js.png);
	}
.wpb_vc_flickr .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/flickr.png);
	}
.wpb_vc_progress_bar .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/graph.png);
	}
.wpb_vc_pie .wpb_element_wrapper {
	background-image: url(../ac-page-builder/images/elements_icons/chart_pie.png);
	}
.wpb_custom_post_css i.icon {
	background: transparent url(../ac-page-builder/images/post_css.png) center center no-repeat;
	}
.wpb_ac_image .wpb_element_wrapper {
	background-image:url(../ac-page-builder/images/elements_icons/ac_image.png);
	}
.wpb_ac_dnd_portfolio .wpb_element_wrapper {
	background-image:url(../ac-page-builder/images/elements_icons/ac_dragdrop.png);
	}
.controls_row .column_edit {
	background-image: url(../ac-page-builder/images/edit_grey.png);
	}
.controls_row .column_clone {
	background-image: url(../ac-page-builder/images/row_clone.png);
	}
.controls_row .column_delete {
	background-image: url(../ac-page-builder/images/row_remove.png);
}

.vc_admin_label {
	display: none !important;
}

.wpb_template_li:nth-child(1) {
	display: none;
}

.wpb_templates_ul li:last-child {
	margin-bottom: 6px;
}

.wpb_content_element > div.controls a {
	width: 16px;
}

.controls_row .column_delete, 
.controls_row .column_clone, 
.controls_row .column_edit {
	opacity: .7;
	background-size: 14px;
	background-color: #fff;
}

.controls_row .column_delete:hover, 
.controls_row .column_clone:hover, 
.controls_row .column_edit:hover {
	opacity: 1;
}

.controls_row .column_delete:hover,
.wpb_templates_ul .wpb_template_li .wpb_template_delete_icon:hover {
	background-color: #fff;
}

/* Column Dropdown */

.controls_row .vc_row_layouts {
	background: #fff;
	border: 1px solid #f1f1f1;
	opacity: .7;
}

.controls_row .vc_row_layouts:hover {
	opacity: 1;
}

.controls_row .vc_row_layouts:hover a:hover, 
.controls_row .vc_row_layouts:hover a.vc_active {
	background-color: #f1f1f1;
}


/* 3.  Editor modal
========================================================== */
.wpb_edit_form_elements .vc_row-fluid input, 
.wpb_edit_form_elements .vc_row-fluid select {
	width: auto !important;
}
.wpb_edit_form_elements .vc_row-fluid input.title {
	width: 80% !important;	
}
.wpb_edit_form_elements .vc_row-fluid input {
	padding: 4px 6px;
}
.wpb-element-edit-modal .wpb_element_label {
	float: left;
	width: 25%;
	line-height: inherit;
	margin-top: 3px;
}
/* not AC styling on some elements */
.wpb-element-edit-modal .wpb_el_type_css_editor .wpb_element_label {
	float: none;
	width: 100%;
}
.wpb_edit_form_elements .vc_row-fluid.wpb_el_type_css_editor input[type=text] {
	width: 34px !important;
}
.wpb-element-edit-modal .edit_form_line {
	float: left;
	width: 70%;	
}
.wpb-element-edit-modal .wpb_el_type_css_editor .edit_form_line {
	width: 100%;	
}
.wpb-element-edit-modal .wpb_element_label {
	font-size: 14px;
}
.wpb_edit_form_elements span.description {
	font-size: 12px;
}
.wpb-element-edit-modal .wpb-select.right {
	/* always align left to avoid right aligned controls */
	float: none !important;
}