@import "bootstrap/bootstrap.less";
@import "navlist.less";

.gallery-row {
  padding: (@grid-gutter-width / 2) 0;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.alignleft {
  .pull-left;
}

.alignright {
  .pull-right;
}

figure.alignnone {
  margin-left: 0;
  margin-right: 0;
}

body {
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  &.top-navbar {
    &.admin-bar {
      padding-top: 53px;
      .topnavbar {
        &.navbar-fixed-top {
          padding-top: 32px;
        }
      }
    }
  }
  .navbar.navbar-static-top {
    margin-bottom: 0;
  }
  &.bottom-navbar {
    padding-bottom: @navbar-height;
  }
}

// responsive hacks for the navbar
@media screen and (min-width: @screen-sm) {
  body {
    &.top-navbar {
      padding-top: @navbar-height;
    }
    &.bottom-navbar {
      padding-bottom: @navbar-height;
    }
  }
}

// get rid of the pull-left class in wp-admin avatar image
#wpadminbar .pull-left { float: none !important; }

// styling the bottom left corner button
#shoestrap_icon {
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 9999;
  a {
    width: 30px;
    height: 30px;
    line-height: 20px;
    display: block;
    background: @brand-primary;
    color: @body-bg;
    font-size: 20px;
    text-decoration: none;
    padding: 3px 5px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-border-radius: 4px 0 0px 4px;
    border-radius: 4px 0px 0px 4px;
    &:hover {
      background: @brand-primary;
    }
  }
}

// Styling the (+) button on the navbar
a.toggle-nav {
  position: relative;
  top: 14px;
  width: 30px;
  height: 30px;
  display:block;
  opacity:0.6;
  z-index:1;
  float: left;
  font-size: 20px;
  color: @navbar-default-link-color;
  text-decoration: none;
  text-align: center;
  -webkit-transition:all 500ms ease-in-out;
  -moz-transition:all 500ms ease-in-out;
  -o-transition:all 500ms ease-in-out;
  -ms-transition:all 500ms ease-in-out;
  &.open {
    opacity:1;
    top: 18px;
  }
}

// Megadrop styles
#megaDrop {
  display: none;
  padding: 20px 10px;
}

// Adding bootstrap btn styles to wordpress's .button elements
.button {
  .btn;
  .btn-default;
}

// make sure that images do don exceed the maximum width of their parent element
.thumbnail {
  max-width: 100%;
  height: auto;
}

// Styles for the social sharing buttons that are generated from the sharrre script
#social-sharing{
  .clearfix;
  .shareme {
    .box{
      .btn;
      .btn-sm;
      display:inline-block;
      position:relative;
      float:left;
      clear:both;
      overflow:hidden;
      -webkit-transition:all 0.3s linear;
      -moz-transition:all 0.3s linear;
      -o-transition:all 0.3s linear;
      transition:all 0.3s linear;
    }
    .left{
      display:block;
      white-space:nowrap;
      -webkit-transition:all 0.2s linear;
      -moz-transition:all 0.2s linear;
      -o-transition:all 0.2s linear;
      transition:all 0.2s linear;
    }
    .middle{
      position:absolute;
      top:0px;
      right:40px;
      width:0px;
      white-space:nowrap;
      text-align:left;
      overflow:hidden;
      -webkit-transition:width 0.3s linear;
      -moz-transition:width 0.3s linear;
      -o-transition:width 0.3s linear;
      transition:width 0.3s linear;
      a{
        padding: 3px 0;
        display: inline-block;
        width: 30px;
        height: 100%;
        text-align:center;
        float:left;
        &:hover{
          text-decoration:none;
        }
      }
    }
    .right{
      position:absolute;
      right:0px;
      top:0px;
      height:100%;
      width: 3em;
      text-align:center;
      line-height:22px;
    }
  }
}

//Styling social inline links in navbar
#navbar_social_bar a:hover, #footer_social_bar a:active { 
  text-decoration: none;
}

// Styling the '.label-tag' tag
.label {
  &.label-tag {
    background: @gray-lighter;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
    a {
      color: @text-color;
      -webkit-transition:all 0.3s linear;
      -moz-transition:all 0.3s linear;
      -o-transition:all 0.3s linear;
      transition:all 0.3s linear;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      background: @gray;
      a {
        color: @body-bg;
      }
    }
  }
}

//
@media (min-width: @screen-sm) {
  .meta-row {
    height: 1.7em;
    overflow: hidden;
   &:hover {
      overflow: visible;
    }
    .tags-container {
      background: @body-bg;
      position: absolute;
      line-height: 1.7em;
      z-index: 99;
    }
    i.icon {
      color: @brand-info;
      &.icon-comment {
        color: @brand-warning;
      }
    }
  }
}

.jumbotron {
  border-radius: 0px;

}

// #boxed-container {
//   .jumbotron {
//     .border-bottom-radius(@border-radius-large)
//   }
// }

.navbar {
  a.toggle-nav {
    margin-top: (((@navbar-height - (2 * @line-height-computed)) / 2) - 3);
  }
  #searchform-nav {
    // margin-top: (((@navbar-height - (2 * @line-height-computed)) / 2));
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .dropdown-menu {
    padding: 0;
    background: @navbar-default-bg;
    li.active a,
    li:hover a{
      background: @navbar-default-link-active-bg;
      color: @navbar-default-link-active-color;
    }
  }

  &.style1 {
    li:first-child > a {
      //padding-bottom: (((@navbar-height - @line-height-computed) / 2) - 3);
    }

    .open > a,
    .open > a:hover,
    .open > a:focus,
    a:hover,
    a:focus {
      &:first-child {
        background: @navbar-default-bg;
        border-bottom: 5px solid @brand-primary;
        padding-bottom: 10px;
      }
      
    }

    .active > a,
    .active > a:hover,
    .active > a:focus {
      background: @navbar-default-bg;
      border-bottom: 5px solid @brand-primary;
    }
    .dropdown-menu {
      border-top: 5px;
      margin-top: -5px;
      padding-top: 0;
      padding-bottom: 0;
      right: auto !important;
      border-top: 1px solid @brand-primary;
      a,
      a:hover,
      a:focus {
        background: block;
        color: @brand-primary;
        border-bottom: 0;
        border-top: 1px solid @brand-primary;
        padding-bottom: 0px;
      }
    }
    .navbar-nav > li > a {
        padding-bottom: 10px;
    }
  }
  &.style2 {
    li > a {
      padding-top: (((@navbar-height - @line-height-computed) / 2));
    }
    .active > a,
    .active > a:hover,
    .active > a:focus {
      background: @navbar-default-bg;
      border-top: 3px solid @brand-primary;
      padding-top: (((@navbar-height - @line-height-computed) / 2) - 3);
    }
    li ul li > a {
      border-top: none !important;
      padding-top: 0 !important;
    }
    .dropdown-menu {
      .active > a,
      .active > a:hover,
      .active > a:focus {
        color: @brand-primary;
      }
    }
  }
  &.style3 {
    border-top: 5px solid @brand-primary;
    .active > a,
    .active > a:hover,
    .active > a:focus {
      border-top: 5px solid @brand-warning;
      margin-top: -5px;
    }
    .dropdown-menu {
      .active > a, 
      .active > a:hover,
      .active > a:focus {
      border-top: 2px solid @brand-warning !important;
      }
    }
  }
  &.style4 {
    border-top: 5px solid @brand-primary;
    li > a {
    }
    .active > a,
    .active > a:hover,
    .active > a:focus {
      background: @brand-primary;
      color: @body-bg;
    }
  }
  &.style5 {
    .active > a,
    .active > a:hover,
    .active > a:focus {
      background: @body-bg;
      color: @link-color;
    }
  }
  &.style6 {
    border-bottom: 5px solid @brand-primary;
    li > a {
    }
    .active > a,
    .active > a:hover,
    .active > a:focus {
      border-bottom: 5px solid @brand-warning;
      margin-bottom: -5px;
    }
    .dropdown-menu {
      .active > a,
      .active > a:hover,
      .active > a:focus {
        border-bottom: 2px solid @brand-warning !important;
      }
    }
  }
  &.metro {
    .active > a,
    .active > a:hover,
    .active > a:focus {
      background: @brand-danger;
    }
    li.open {
      a.dropdown-toggle {
        background: @brand-primary;
      }
    }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
      background: @brand-primary;
    }
  }
}

.navbar a.navbar-brand {
  max-width: inherit !important;

  &.logo {
    height: @navbar-height;
    padding: @padding-base-vertical;
    img {
      max-height: 100%;
      width: auto;
//      max-width: inherit !important;
    }
  }
  &.text {
    padding: ((@navbar-height - @line-height-computed) / 2) 15px;
    max-width: 100%;
  }
}

@media (max-width: @grid-float-breakpoint-max) {
  .dropdown-menu {
    position: inherit;
    float: none;
    top: auto;
  }
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {  
  border-radius: @border-radius-base;  
}

.btn-group.social-share {
  .social-link {
    display: none;
  } 
  &:hover {
    .social-share-main {
      border-bottom-right-radius: 0px !important;
      border-top-right-radius: 0px !important;
    } 
    a {
      display: block;
      width: auto;
      padding: @padding-base-vertical @padding-base-horizontal;
    }
    a:hover {
      // ??
    }
  }
}

h1, .h1 {
  font-family: @heading-h1-face;
  font-weight: @heading-h1-weight;
  font-style: @heading-h1-style;
  line-height: @heading-h1-height;
  color: @heading-h1-color;
}

h2, .h2 {
  font-family: @heading-h2-face;
  font-weight: @heading-h2-weight;
  font-style: @heading-h2-style;
  line-height: @heading-h2-height;
  color: @heading-h2-color;
}

h3, .h3 {
  font-family: @heading-h3-face;
  font-weight: @heading-h3-weight;
  font-style: @heading-h3-style;
  line-height: @heading-h3-height;
  color: @heading-h3-color;
}

h4, .h4 {
  font-family: @heading-h4-face;
  font-weight: @heading-h4-weight;
  font-style: @heading-h4-style;
  line-height: @heading-h4-height;
  color: @heading-h4-color;
}

h5, .h5 {
  font-family: @heading-h5-face;
  font-weight: @heading-h5-weight;
  font-style: @heading-h5-style;
  line-height: @heading-h5-height;
  color: @heading-h5-color;
}

h6, .h6 {
  font-family: @heading-h6-face;
  font-weight: @heading-h6-weight;
  font-style: @heading-h6-style;
  line-height: @heading-h6-height;
  color: @heading-h6-color;
}

.header-wrapper {
  padding: @grid-gutter-width (@grid-gutter-width / 2);
}

@media screen and (min-width: (@container-desktop + @grid-gutter-width)) {
  .main-float-right main.main {
    float: right;
  }
}

.boxed-style .boxed-container {
  margin-top: @navbar-margin-top;
}

img {
  max-width: 100%;
  height: auto;
}

.tags-container {
  ul.post-categories {
    margin-left: 0;
    padding-left: 0;
    .clearfix;
    li {
      list-style: none;
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
      float: left;
      margin-bottom: 0.2em;
      margin-right: 0.2em;
    }
  }
  a {
    .label;
    .label-tag;
  }
}

table {
  .table;
}

iframe.twitter-tweet.twitter-tweet-rendered {
  width: 100%;
}

.breadcrumb {
  overflow: hidden;
}

.contact-form {
  .pushbutton-wide {
    .btn;
    .btn-primary;
  }
}


// Sub menus
// ---------------------------
.dropdown-submenu {
  position: relative;
}
// Default dropdowns
li.dropdown ul.dropdown-menu li.dropdown > .dropdown-menu {
  top: 0;
  left: 100%;
}
li.dropdown ul.dropdown-menu li.dropdown:hover > .dropdown-menu {
  display: block;
}

// Left aligned submenus
li.dropdown ul.dropdown-menu li.dropdown.pull-left {
  float: none;
}

.widget_search {
  form#searchform {
    position: relative;
    input.form-control {
      padding-right: ((@padding-base-horizontal * 2) + @font-size-base);
    }
    button#searchsubmit {
      position: absolute;
      top: 0;
      right: 0;
      .border-left-radius(0px);
    }
  }
}

.navbar {
  font-family:  @navbar-font-family;
  font-size:    @navbar-font-size;
  font-style:   @navbar-font-style;
  font-weight:  @navbar-font-weight;
  li > a {
    color:        @navbar-default-link-color !important;
  }
  a.navbar-brand {
    font-family:  @brand-font-family;
    font-size:    @brand-font-size;
    font-style:   @brand-font-style;
    font-weight:  @brand-font-weight;
    color:        @brand-font-color;
  }
  .nav.nav-pills {
    li a {
      padding: @navbar-padding-vertical @navbar-padding-horizontal;
    }
  }
}

//Styling selects in widgets
.widget select {
  width: 100%;
  color: @link-color;
  background-color: @body-bg;
  height: 110%;
  font-size: 110%;
} 

//
// Jumbotron
// --------------------------------------------------


.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  line-height: (@line-height-base * 1.5);
  font-weight:  @jumbotron-font-weight;
  font-style:   @jumbotron-font-style;
  font-family:  @jumbotron-font-family;
  background-color: @jumbotron-bg;
  h1, h2, h3, h4, h5, h6 {
    font-weight:  @jumbotron-headers-font-weight;
    font-style:   @jumbotron-headers-font-style;
    font-family:  @jumbotron-headers-font-family;
  }
  p {
    line-height: 1.4;
  }

  @media screen and (min-width: @screen-tablet) {
    padding: 50px 60px;
    border-radius: @border-radius-large; // Only round corners at higher resolutions
    h1 {
      font-size: (@font-size-base * 4.5);
    }
  }
}

//Having topnavbar always on top of secondary
.topnavbar {
  z-index: @zindex-navbar;
  &.navbar-fixed-top {
    z-index: @zindex-navbar-fixed;
  }
}
.secondary {
  z-index: 1;
}

.widget {
  &.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.nav-pills > li > a {
  border-radius: @border-radius-base;
}

.container .jumbotron {
  .border-top-radius(0px);
}

.page-header {
  padding-top: ((@line-height-computed / 2) - 1);
}

@media (min-width: @screen-sm) {
  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-left: (@grid-gutter-width / 2);
  }

  .wrap.main-section .content {
    padding-left: (@grid-gutter-width / 2);
    padding-right: (@grid-gutter-width / 2);
  }
}

.boxed-container {
  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-right: (@grid-gutter-width / 2);
    margin-left: 0;
  }
}

@media (max-width: @grid-float-breakpoint-max) {
  .navbar .pull-right {
    float: none !important;
  }
}

.wrap.main-section .content .bg {
  padding-top: (@grid-gutter-width / 2);
}

html {
  overflow-x: hidden;
}

ul.comment {
  padding-left: 0;
}
